<html>
<head>
	<title>Waitstaff Calculator</title>
	<link rel="stylesheet" type="text/css" href="waitstaff.css">
	<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body ng-app="waitstaff">
	<div class="wrapper" ng-controller="WaitstaffCtrl">
	<h1>Waitstaff Calculator</h1>
		
		<form name='waitstaffForm' novalidate class="meal-details">
			<div class="headings">Enter the Meal Details</div>

			<div class="row">
				<span class="pull-left details">Base Meal Price: $</span>
				<input  ng-model="data.mealPrice" 
								type='number' 
                required
								name='mealPrice' 
								placeholder="0.00" 
								class="left">
				</input>
				<span class="error" ng-show='waitstaffForm.$submitted && waitstaffForm.mealPrice.$error.number'> Please enter a number! </span>
        <span class="error" ng-show='waitstaffForm.$submitted && waitstaffForm.mealPrice.$error.required'> Can't be blank! </span>
			</div>

			<div class="row">
				<span class="pull-left details">Tax Rate: %</span>
				<input  ng-model="data.taxRate" 
								type='number' 
                required
								name='taxRate' 
								placeholder="8.00"
								class="left">
				</input>
        <span class="error" ng-show='waitstaffForm.$submitted && waitstaffForm.taxRate.$error.number'> Please enter a number! </span>
        <span class="error" ng-show='waitstaffForm.$submitted && waitstaffForm.taxRate.$error.required'> Can't be blank! </span>
			</div>

			<div class="row">
				<span class="pull-left details">Tip Percentage: %</span>
				<input ng-model="data.tipRate" 
							placeholder="20.00" 
              required
              type='number'
              name='tipRate'
							class="left">
				</input>
				<span class="error" ng-show='waitstaffForm.$submitted && waitstaffForm.tipRate.$error.number'> Please enter a number! </span>
        <span class="error" ng-show='waitstaffForm.$submitted && waitstaffForm.tipRate.$error.required'> Can't be blank! </span>
			</div>

			<div class="row pull-right">
				<button class="btn btn-primary pull-left" type="submit"  ng-click="submit(waitstaffForm)">Submit</button>
				<button class="btn btn-primary pull-left" type="cancel">Cancel</button>
			</div>

		</form>

		<div class="calculator">
			<div class="customer-charges">
				<div class="headings">Customer Charges</div>
				<div class="row">
					<span class="pull-left charges">Subtotal: </span>
					<span placeholder="0.00" class="left"/>{{subTotal(data.mealPrice, data.taxRate)}}</span>
				</div>
				<div class="row">
					<span class="pull-left charges">Tip: </span>
					<span placeholder="0.00" class="left"/>{{ tipAmount( data.mealPrice, data.tipRate )}}</span>
				</div>
				<div class="row">
					<span class="pull-left charges">Total:</span>
					<span placeholder="0.00" class="left"/>{{total()}}</span>
				</div>
			</div>

			<div class="my-earning">
				<div class="headings">My earning</div>
				<div class="row">
					<span class="pull-left earning">Tip total</span>
					<span class="left">{{tipTotal = 0}}</span>
				</div>
				<div class="row">
					<span class="pull-left earning">Meal count</span>
					<span ng-model="data.mealCount" class="left">{{data.mealCount}}</span>
				</div>
				<div class="row">
					<span class="pull-left earning">Average tip per meal</span>
					<span class="left"></span>
				</div>
			</div>
		</div>
		<button class="reset btn btn-default">Reset</button>
	</div>




<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
<script type="text/javascript" src='waitstaff.js'></script>
<script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-messages.min.js'></script> <!-- This must be after waitstaff.js -->
</body>
</html>
