<html>
<head>
	<title>MadLibs</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body ng-app="">
	<div class="wrapper">
		
			<div class="header">
				<div class="pull-left">
					<img class="smiley" src="images/mad-lib-happy-face.png">
				</div>

				<div class="pull-right logo-container">
					<img class="logo" src="images/ng-mad-libs-logo.png">
					<h2 class="slogan">Automate This!</h2>
				</div>
			</div>

			<div class="col-md-12 words-container">
				<h3>Provide the following words: </h3>
				<form name="madLibForm" novalidate ng-submit="submit()">
					<input ng-model="data.name" type='text' name='name' required placeholder="name">
					<input ng-model="data.jobTitle" type='text' name='jobTitle' required placeholder="job title">
					<input ng-model="data.tediousTask" type='text' name='tediousTask' required placeholder="tedious task">
					<input ng-model="data.dirtyTask" type='text' name='dirtyTask' required placeholder="dirty task">
					<input ng-model="data.celebrity" type='text' name='celebrity' required placeholder="celebrity">
					<input ng-model="data.uselessSkill" type='text' name='uselessSkill' required placeholder="useless skill">
					<input ng-model="data.adjective" type='text' name='adjective' required placeholder="adjective">
					<input ng-model="data.obnoxiuousCelberity" type='text' name='obnoxiuousCelberity' required placeholder="obnoxiuous celberity">
					<input ng-model="data.hugeNumber" type='number' name='hugeNumber' required placeholder="huge number">
					</div>
					<div class="row">
						<input class="submit" type="submit" name="submit" value="Generate my Madlib" />
					</div>	
				</form>
			<div class="col-md-12 paragraph-container">
				<h4 class="paragraph">
				<strong>{{data.name}}</strong> was a <strong>{{data.jobTitle}}</strong> who loved technology. Although she loved parts of her job, she absolutely hated  <strong>{{data.tediousTask}}</strong> and <strong>{{data.dirtyTask}}</strong>. So, <strong>{{data.name}}</strong> met with her life mentor <strong>{{data.celebrity}}</strong> who told her to learn how to <strong>{{data.uselessSkill}}</strong> with Thinkful. Thinkful didn't offer a course on <strong>{{data.uselessSkill}}</strong> so she studied programming instead. 
 
				What a great decision! With her new skills, <strong>{{data.name}}</strong> built a(n) {{data.adjective}} robot named <strong>{{data.obnoxiuousCelbertity}}</strong> that not only loved <strong>{{data.dirtyTask}}</strong> but did it <strong>{{data.hugeNumber}}</strong> faster. 
				</h4>
			</div>

	</div>




<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-messages.min.js'></script>
<script type="text/javascript" src='madLib.js'></script>
</body>
</html>